[submodule "Maple/vendor/spdlog"]
	path = Maple/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Maple/vendor/GLFW"]
	path = Maple/vendor/GLFW
	url = https://github.com/glfw/glfw.git
